* {
  margin: 0;
  padding: 0;
}

/*NAV*/
#container1 {
  width: 100%;
  height: 20vh;

}

#search {
  width: 20%;
  height: 5%;
  margin-top: 10%;
  margin-left: -12%;
  margin-right: 25%;
  
}

#btn {
  height: 5.4vh;
  margin-top: 61%;
  margin-left: -155%;
}

#logo {
  width: 50%;
  height: 99%;
}

#btn1 {
  margin-left: 45%;

}

#shopping {
  font-size: 25px;
  margin-top: 11%;
  margin-left: 3%;
}

#listNav {
  list-style: none;
}

#listNav hr {
  border-bottom: 1px solid #000;
  width: 123.5%;
  margin-left: -12%;
  margin-top: 1%;
}

#listNav li{
  display: inline-block;
  line-height: 50px;
  margin-left: 10%;
  text-align: center;
  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
}

#listNav li a{
  color: #000;
}


/*PRIMERA SECCION INICIO*/
#carouselExampleControls {
  width: 150%;
  margin-left: -15%;
  border-radius: 15px;
}

#img2 {
  margin-left: 15%;
  border-radius: 6px;
}

#text {
  border: 1px solid #2ECC71;
  background: #2ECC71;
  font-size: 10px;
  margin-left: 73%;
  margin-top: -5%;
  margin-bottom: %;
  border-radius: 10px;
}

#text h2{
  font-size: 18px;
  font-family: 'Amaranth', sans-serif;
  text-align: center;
  margin-top: 6%;
}

/*SEGUNDA SECCION INICIO*/
#check {
  color: orange;
  font-size: 25px;
}

#paragraph h2 {
  font-family: 'Parisienne', cursive;
  font-weight: 700;
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
}

#paragraph p {
  width: 60%;
  text-align: center;
  margin-left: 20%;
}

/*TERCERA SECCION INICIO*/
#title h1{
  text-align: center;
  margin-top: 5%;
  font-family: 'Arsenal', sans-serif;
  font-weight: 700;
  color: #3498DB  ;
}

#images img{
  width: 15%;
  height: 80%;
  margin-top: 3%;
  margin-left: 1.3%;
}

/*CUARTA SECCION INICIO*/
#cards {
  margin-left: %;
  margin-top: 3%;
}

#cards1 {
  border: 1px solid #2ECC71;
}

.card-body {
  border-top: 1px solid #2ECC71;
  height: 5vh;
}

#cards p{
  text-align: center;
  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
  margin-top: -12%;
}

#cards p a{
  color: #000;
}

/*QUINTA SECCION INICIO*/
#fiveSection {
  background-color: #2ECC71;
  background-size: cover;
  width: 100%;
  height: 40vh;
  margin-top: 5%;
}

#box {
  width: 50%;
  height: 80%;
  margin-top: 10%;
  margin-left: -30%;
}

#title2 h1{
  text-align: center;
  margin-top: 2%;
  margin-left: -20%;
  font-family: 'Arsenal', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #000;
}

#title3 {
  margin-top: -8%;
}

#title3 h3 {
  text-align: center;
  font-family: 'Arsenal', sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-top: 8%;
}

#title3 p {
  text-align: center;
  width: 70%;
  margin-left: 15%;
}

#key {
  width: 30%;
  height: 70%;
  margin-left: 700%;
}

/*SEXTA SECCION INICIO*/
#sixSection {
  background-color: #82E0AA;
  background-size: cover;
  width: 100%;
  height: 40vh;
  margin-top: 5%;
}

#local {
  width: 100%;
  height: 120%;
}

#text3 h1 {
  text-align: center;
  margin-top: 10%;
  font-family: 'Arsenal', sans-serif;
  font-weight: 600;
}

#text3 p {
  text-align: center;
  font-size: 20px;

}